@inject IJSRuntime _jsruntime

<div>
    <div class="alert alert-info">@Title</div>
</div>

@if (DangerContent is not null)
{
    <span>@DangerContent</span>
}
else
{
    @if (ChildContent is not null)
    {
        <div class="alert alert-success">
            <span>@ChildContent</span>
        </div>
    }
    else
    {
        <span>Hello, from empty fragment!</span>
    }
}
<br />
<button class="btn btn-danger" @onclick="OnButtonClick">Click Me</button>
<_GrandChildComponent></_GrandChildComponent>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public EventCallback OnButtonClick { get; set; }
    [Parameter]
    public RenderFragment? DangerContent { get; set; }

    public async Task SweetAlertSuccess()
    {
        await _jsruntime.InvokeVoidAsync("showSwal", "success", "Ya done good, kid");
    }
}

