@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>

<CascadingValue Value="@MessageForGrandchild" Name="message">
    <CascadingValue Value="@LuckyNumber" Name="number">
        <_ChildComponent @ref="childComp" OnButtonClick="ShowMessage" Title="This title is passed as a param from the parent component">
            <ChildContent>Render frag from parent</ChildContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

<p><b>@MessageText</b></p>

<_AnotherChildComponent placeholder="placeholder from parent"></_AnotherChildComponent>

<div class="row mt-3">
    <button style="width:150px" @onclick="()=>childComp.SweetAlertSuccess()" class="btn btn-info">Show Sweet Alert</button>
</div>



@code {

    private _ChildComponent childComp;

    public string MessageForGrandchild { get; set; } = "Hello from your grandparent";

    public string LuckyNumber { get; set; } = "69";

    public string MessageText { get; set; } = "";

    private void ShowMessage()
    {
        MessageText = "Button clicked from child component";
    }
}

